.footer {
  grid-column: full-start / full-end;

  background-color: $color-secondary;
  padding: 2rem;
  text-align: center;
  font-size: 1.6rem;
  color: $color-grey-light-1;

  // margin: 5rem 0;
}

.newsletter {
  grid-column: full-start / full-end;

  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: $color-grey-light-1;

  padding: 4rem 2rem;

  p {
    width: 75%;
    margin: 0 auto;
  }
}
.testimonials {
  grid-column: full-start / full-end;

  background-color: $color-grey-light-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: $color-secondary;

  padding: 2rem 0;

  // margin-bottom: 1rem;
}

.form {
  &__group {
    display: flex;
  }
  &__textarea {
    width: 100%;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    margin: 2rem 0;

    &:focus {
      outline: none;
      border-radius: 2px;
      background-color: rgba($color-white, 0.5);
      border-bottom: 3px solid $color-primary;
    }
  }
  &__input {
    font-size: 2rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: $color-grey-light-1;
    border: none;
    margin-right: 1rem;
    margin-top: 1rem;
    color: $color-secondary;
    cursor: pointer;

    width: 100%;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, 0.3);
      border-bottom: $color-primary;
    }

    &::-webkit-input-placeholder {
      color: $color-secondary;
    }
  }
}
